.App{
    min-height: auto;
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

.search__form{
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: purple;
}

.search__bar{
    width: 50%;
    border: none; 
    padding: 10px;
}

.search__button{
    background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
    border: none;
    padding: 10px 20px;
    color: #fff;
    font-weight: bold;
} 

.recipes{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 10px;
}